bitsandbytes==0.45.0
datasets==3.1.0
dill==0.3.8
fsspec==2024.9.0
xxhash==3.5.0
sacremoses==0.1.1
accelerate==1.2.0
faiss-cpu==1.9.0.post1
tokenizers==0.21.0
pandas==2.2.3
multiprocess==0.70.16
peft==0.14.0
transformers==4.47.0
google-colab==1.0.0
plotnine==0.14.3
Flask==3.0.3
google-resumable-media==2.7.2
parsy==2.1
pandas-stubs==2.2.2.240909
idna==3.10
marisa-trie==1.2.1
mdurl==0.1.2
safetensors==0.4.5
datascience==0.17.6
pyasn1==0.6.1
pathlib==1.0.1
google==2.0.3
frozendict==2.4.6
glob2==0.7
mpmath==1.3.0
ipyparallel==8.8.0
xarray==2024.10.0
graphviz==0.20.3
nvidia-cudnn-cu12==9.6.0.74
tensorstore==0.1.69
google-cloud-functions==1.18.1
fastcore==1.7.22
pycocotools==2.0.8
fastprogress==1.0.3
html5lib==1.1
sqlglot==25.1.0
aiohttp==3.11.9
multipledispatch==1.0.0
tabulate==0.9.0
preshed==3.0.9
charset-normalizer==3.4.0
certifi==2024.8.30
xlrd==2.0.1
google-ai-generativelanguage==0.6.10
anyio==3.7.1
pyzmq==24.0.1
SQLAlchemy==2.0.36
sklearn-pandas==2.2.0
arviz==0.20.0
cuda-python==12.2.1
langchain-text-splitters==0.3.2
parso==0.8.4
ipykernel==5.5.6
importlib_resources==6.4.5
nvidia-curand-cu12==10.3.7.77
mlxtend==0.23.3
h5netcdf==1.4.1
sympy==1.13.1
gcsfs==2024.10.0
nvidia-cublas-cu12==12.6.4.1
packaging==24.2
filelock==3.16.1
google-cloud-bigquery-connection==1.16.1
httpcore==1.0.7
opt_einsum==3.4.0
exceptiongroup==1.2.2
webcolors==24.11.1
jax-cuda12-plugin==0.4.33
psycopg2==2.9.10
Send2Trash==1.8.3
miniKanren==1.0.3
blosc2==2.7.1
llvmlite==0.43.0
python-box==7.2.0
annotated-types==0.7.0
tweepy==4.14.0
jsonschema==4.23.0
orbax-checkpoint==0.6.4
imgaug==0.4.0
jupyter-leaflet==0.19.2
pydantic_core==2.27.1
propcache==0.2.1
yarl==1.18.3
sphinxcontrib-qthelp==2.0.0
rpy2==3.4.2
eval_type_backport==0.2.0
argon2-cffi==23.1.0
torchvision==0.20.1+cu121
webencodings==0.5.1
ply==3.11
google-cloud-iam==2.16.1
Jinja2==3.1.4
dm-tree==0.1.8
promise==2.3
shellingham==1.5.4
grpc-google-iam-v1==0.13.1
gast==0.6.0
multidict==6.1.0
pygame==2.6.1
Bottleneck==1.4.2
seaborn==0.13.2
pyogrio==0.10.0
keras==3.5.0
snowballstemmer==2.2.0
widgetsnbextension==3.6.10
nbclassic==1.1.0
rich==13.9.4
py-cpuinfo==9.0.0
typing_extensions==4.12.2
itsdangerous==2.2.0
six==1.16.0
nibabel==5.3.2
dask==2024.10.0
pymc==5.18.2
intel-openmp==2025.0.3
PyDrive==1.3.1
python-louvain==0.16
pytz==2024.2
jsonpointer==3.0.0
fastdownload==0.0.7
blinker==1.9.0
google-cloud-bigtable==2.27.0
sentry-sdk==2.19.0
pylibcugraph-cu12==24.10.0
yfinance==0.2.50
textblob==0.17.1
python-utils==3.9.1
ipyevents==2.0.2
gspread==6.0.2
google-cloud-translate==3.17.0
pydotplus==2.0.2
httpx==0.28.0
httplib2==0.22.0
lazy_loader==0.4
gdown==5.2.0
kiwisolver==1.4.7
regex==2024.9.11
linkify-it-py==2.0.3
atpublic==4.1.0
wasabi==1.1.3
terminado==0.18.1
ipywidgets==7.7.1
opentelemetry-api==1.28.2
geographiclib==2.0
rpds-py==0.22.3
pyperclip==1.9.0
nvidia-cusparse-cu12==12.5.4.2
pyOpenSSL==24.2.1
opencv-contrib-python==4.10.0.84
firebase-admin==6.5.0
entrypoints==0.4
jupyter-client==6.1.12
polars==1.9.0
sphinxcontrib-jsmath==1.0.1
pandocfilters==1.5.1
proto-plus==1.25.0
types-pytz==2024.2.0.20241003
rmm-cu12==24.10.0
gym==0.25.2
pyshp==2.3.1
diffusers==0.31.0
pynvjitlink-cu12==0.4.0
pytest==8.3.4
jellyfish==1.1.2
array_record==0.5.1
cvxpy==1.5.4
google-api-core==2.19.2
langcodes==3.5.0
aiosignal==1.3.1
notebook_shim==0.2.4
libclang==18.1.1
opencv-python==4.10.0.84
shapely==2.0.6
debugpy==1.8.0
en-core-web-sm==3.7.1
audioread==3.0.1
ipython-sql==0.5.0
openpyxl==3.1.5
fastjsonschema==2.21.1
nvidia-cufft-cu12==11.3.0.4
cloudpickle==3.1.0
CacheControl==0.14.1
easydict==1.13
uritemplate==4.1.1
Sphinx==8.1.3
bleach==6.2.0
language_data==1.3.0
markdown-it-py==3.0.0
gym-notices==0.0.8
requests-toolbelt==1.0.0
ndindex==1.9.2
gin-config==0.5.0
bigquery-magics==0.4.0
pyarrow-hotfix==0.6
tensorflow-io-gcs-filesystem==0.37.1
fastrlock==0.8.2
jupyter-console==6.1.0
geemap==0.35.1
cryptography==43.0.3
mkl==2025.0.1
astropy==6.1.7
PyOpenGL==3.1.7
clarabel==0.9.0
Werkzeug==3.1.3
google-auth-oauthlib==1.2.1
holidays==0.62
numpy==1.26.4
alabaster==1.0.0
colorlover==0.3.0
huggingface-hub==0.26.3
oauthlib==3.2.2
google-api-python-client==2.151.0
statsmodels==0.14.4
traittypes==0.2.1
aiohappyeyeballs==2.4.4
albumentations==1.4.20
tensorflow-hub==0.16.1
typer==0.15.0
jsonpatch==1.33
Cython==3.0.11
Markdown==3.7
bqplot==0.12.43
wheel==0.45.1
tensorflow-datasets==4.9.7
tcmlib==1.2.0
vega-datasets==0.9.0
geocoder==1.38.1
tomli==2.2.1
gensim==4.3.3
joblib==1.4.2
etils==1.11.0
tf_keras==2.17.0
xarray-einstats==0.8.0
stringzilla==3.11.0
cycler==0.12.1
kaggle==1.6.17
optree==0.13.1
cmdstanpy==1.2.4
cons==0.4.6
importlib_metadata==8.5.0
partd==1.4.2
python-slugify==8.0.4
setproctitle==1.3.4
tinycss2==1.4.0
google-cloud-datastore==2.20.1
gspread-dataframe==3.3.1
msgpack==1.1.0
docutils==0.21.2
GDAL==3.6.4
nx-cugraph-cu12==24.10.0
geopandas==1.0.1
notebook==6.5.5
sniffio==1.3.1
nvidia-nvjitlink-cu12==12.6.85
flax==0.8.5
natsort==8.4.0
multitasking==0.0.11
matplotlib-venn==1.1.1
sphinxcontrib-applehelp==2.0.0
iniconfig==2.0.0
urllib3==2.2.3
nest-asyncio==1.6.0
jupyterlab_pygments==0.3.0
tensorflow-probability==0.24.0
google-cloud-resource-manager==1.13.1
docstring_parser==0.16
opencv-python-headless==4.10.0.84
decorator==4.4.2
mizani==0.13.0
nbconvert==7.16.4
psutil==5.9.5
jax==0.4.33
prettytable==3.12.0
GitPython==3.1.43
scipy==1.13.1
timm==1.0.12
lxml==5.3.0
dopamine_rl==4.0.9
pygit2==1.16.0
frozenlist==1.5.0
geopy==2.4.1
opentelemetry-sdk==1.28.2
google-cloud-language==2.15.1
traitlets==5.7.1
bigframes==1.27.0
requests-oauthlib==1.3.1
defusedxml==0.7.1
xyzservices==2024.9.0
cupy-cuda12x==12.2.0
cachetools==5.5.0
yellowbrick==1.5
pyproj==3.7.0
pydata-google-auth==1.9.0
wcwidth==0.2.13
gitdb==4.0.11
soundfile==0.12.1
h11==0.14.0
qdldl==0.1.7.post4
tensorboard-data-server==0.7.2
sqlparse==0.5.2
greenlet==3.1.1
pyasn1_modules==0.4.1
sphinxcontrib-devhelp==2.0.0
colorcet==3.1.0
numba==0.60.0
PyJWT==2.10.1
matplotlib==3.8.0
xgboost==2.1.3
opentelemetry-semantic-conventions==0.49b2
attrs==24.2.0
PyYAML==6.0.2
ml-dtypes==0.4.1
folium==0.18.0
nbformat==5.10.4
pickleshare==0.7.5
pymystem3==0.2.0
langchain-core==0.3.21
toml==0.10.2
jiter==0.8.0
pyviz_comms==3.0.3
mistune==3.0.2
spacy==3.7.5
earthengine-api==1.2.0
pyparsing==3.2.0
torch==2.5.1+cu121
rsa==4.9
pycparser==2.22
prometheus_client==0.21.1
tensorboard==2.17.1
jax-cuda12-pjrt==0.4.33
pydantic==2.10.3
google-cloud-firestore==2.19.0
google-cloud-bigquery-storage==2.27.0
tensorflow-metadata==1.13.1
cudf-cu12==24.10.1
kagglehub==0.3.4
smmap==5.0.1
oauth2client==4.1.3
tensorflow==2.17.1
pyerfa==2.0.1.5
pytensor==2.26.4
pillow==11.0.0
ipython==7.34.0
backcall==0.2.0
Pygments==2.18.0
pyarrow==17.0.0
uc-micro-py==1.0.3
proglog==0.1.10
nvtx==0.2.10
pooch==1.8.2
inflect==7.4.0
google-cloud-pubsub==2.27.1
db-dtypes==1.3.1
google-auth==2.27.0
tzlocal==5.2
protobuf==4.25.5
pyspark==3.5.3
prompt_toolkit==3.0.48
termcolor==2.5.0
dlib==19.24.2
spacy-legacy==3.0.12
simple-parsing==0.1.6
plotly==5.24.1
cufflinks==0.17.3
immutabledict==4.2.1
jieba==0.42.1
slicer==0.0.8
imagesize==1.4.1
websocket-client==1.8.0
grpcio-status==1.62.3
et_xmlfile==2.0.0
networkx==3.4.2
sentencepiece==0.2.0
requests==2.32.3
nbclient==0.10.1
wrapt==1.17.0
google-cloud-storage==2.8.0
mdit-py-plugins==0.4.2
moviepy==1.0.3
pydot==3.0.3
autograd==1.7.0
MarkupSafe==3.0.2
soxr==0.5.0.post1
zipp==3.21.0
threadpoolctl==3.5.0
pylibraft-cu12==24.10.0
wandb==0.18.7
altair==4.2.2
jsonpickle==4.0.0
cvxopt==1.3.2
astunparse==1.6.3
locket==1.0.0
matplotlib-inline==0.1.7
nvidia-cuda-nvcc-cu12==12.6.85
docker-pycreds==0.4.0
ecos==2.0.14
google-cloud-aiplatform==1.73.0
click==8.1.7
langchain==0.3.9
google-crc32c==1.6.0
more-itertools==10.5.0
nvidia-cusolver-cu12==11.7.1.2
imageio-ffmpeg==0.5.1
cffi==1.17.1
torchsummary==1.5.1
langsmith==0.1.147
chex==0.1.87
future==1.0.0
ibis-framework==9.2.0
humanize==4.11.0
tenacity==9.0.0
tbb==2022.0.0
python-dateutil==2.8.2
param==2.1.1
intel-cmplr-lib-ur==2025.0.3
nvidia-nccl-cu12==2.23.4
sentence-transformers==3.2.1
flatbuffers==24.3.25
numexpr==2.10.2
contourpy==1.3.1
peewee==3.17.8
astropy-iers-data==0.2024.12.2.0.35.34
PyDrive2==1.21.3
argon2-cffi-bindings==21.2.0
imageio==2.36.1
etuples==0.3.9
tornado==6.3.3
pexpect==4.9.0
soupsieve==2.6
ipython-genutils==0.2.0
scooby==0.10.0
scikit-image==0.24.0
albucore==0.0.19
scs==3.2.7
nvidia-cuda-runtime-cu12==12.6.77
tf-slim==1.1.0
pluggy==1.5.0
py4j==0.10.9.7
eerepr==0.0.4
panel==1.5.4
StrEnum==0.4.15
jupyter_core==5.7.2
lightgbm==4.5.0
orjson==3.10.12
tifffile==2024.9.20
fonttools==4.55.1
portpicker==1.5.2
prophet==1.1.6
hyperopt==0.2.7
referencing==0.35.1
openai==1.54.5
editdistance==0.8.1
nvidia-cuda-cupti-cu12==12.6.80
cmake==3.30.5
weasel==0.4.1
absl-py==1.4.0
music21==9.3.0
nltk==3.9.1
holoviews==1.20.0
imutils==0.5.4
grpcio==1.68.1
colour==0.1.5
bokeh==3.6.2
jaxlib==0.4.33
srsly==2.4.8
PySocks==1.7.1
fastai==2.7.18
umf==0.9.1
murmurhash==1.0.11
toolz==0.12.1
thinc==8.2.5
blis==0.7.11
scikit-learn==1.5.2
community==1.0.0b1
ipyfilechooser==0.6.0
ipytree==0.2.2
pandas-datareader==0.10.0
tzdata==2024.2
cloudpathlib==0.20.0
shap==0.46.0
beautifulsoup4==4.12.3
duckdb==1.1.3
libcudf-cu12==24.10.1
imbalanced-learn==0.12.4
jupyter-server==1.24.0
confection==0.1.5
googleapis-common-protos==1.66.0
async-timeout==4.0.3
Deprecated==1.2.15
patsy==1.0.1
torchaudio==2.5.1+cu121
einops==0.8.0
google-generativeai==0.8.3
ratelim==0.1.6
chardet==5.2.0
logical-unification==0.4.6
spacy-loggers==1.0.5
missingno==0.5.2
progressbar2==4.5.0
jsonschema-specifications==2024.10.1
tables==3.10.1
Pyomo==6.8.2
tqdm==4.66.6
librosa==0.10.2.post1
typeguard==4.4.1
distro==1.9.0
ipyleaflet==0.19.2
httpimport==1.4.0
pylibcudf-cu12==24.10.1
catalogue==2.0.10
ptyprocess==0.7.0
googledrivedownloader==0.4
babel==2.16.0
smart-open==7.0.5
google-auth-httplib2==0.2.0
sphinxcontrib-htmlhelp==2.1.0
text-unidecode==1.3
branca==0.8.0
google-pasta==0.2.0
google-cloud-core==2.4.1
cymem==2.0.10
jupyterlab_widgets==3.0.13
platformdirs==4.3.6
wordcloud==1.9.4
google-cloud-bigquery==3.25.0
pandas-gbq==0.24.0
sphinxcontrib-serializinghtml==2.0.0
namex==0.0.8
h5py==3.12.1
stanio==0.5.1
osqp==0.6.7.post3
optax==0.2.4
python-apt==0.0.0
requirements-parser==0.9.0
setuptools==75.1.0
pip==24.1.2
types-setuptools==75.6.0.20241126
oauthlib==3.2.0
distro==1.7.0
keyring==23.5.0
zipp==1.0.0
six==1.16.0
SecretStorage==3.3.1
launchpadlib==1.10.16
PyJWT==2.3.0
dbus-python==1.2.18
lazr.restfulclient==0.14.4
more-itertools==8.10.0
cryptography==3.4.8
blinker==1.4
wadllib==1.3.6
lazr.uri==1.0.6
PyGObject==3.42.1
importlib-metadata==4.6.4
jeepney==0.7.1
pyparsing==2.4.7
httplib2==0.20.2
python-apt==2.4.0+ubuntu4
importlib_metadata==8.0.0
more-itertools==10.3.0
autocommand==2.2.2
typing_extensions==4.12.2
inflect==7.3.1
importlib_resources==6.4.0
backports.tarfile==1.2.0
tomli==2.0.1
jaraco.context==5.3.0
typeguard==4.3.0
jaraco.functools==4.0.1
packaging==24.1
jaraco.text==3.12.1
jaraco.collections==5.1.0
platformdirs==4.2.2
zipp==3.19.2
wheel==0.43.0
